/* 柱状图组件对象样式 */

body{
	padding: 0px;
	margin: 0px;
	background: #222;
	font-size: 12px;
    font-family: "微软雅黑";
	z-index: 0;
}
.iphone{
	width: 340px;
	height: 540px;
	background: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -170px;
	margin-top: -270px;   
	z-index: 1;
}

.h5_component_bar{
    top: 50%;
    margin-top: -100px;
    background: #888;
}
.h5_component_bar .line{
    padding: 10px;
    clear: both;
    height: 20px;
    line-height: 20px;
}
.h5_component_bar .line .name{
    float: left;
    width: 40px;
    height: 20px;
    text-align: right;
    margin-right: 5px;
}
.h5_component_bar .line .rate{
    float: left;
    height: 20px;
    margin-right: 5px;    
}
.h5_component_bar .line .per{
    float: left;
    height: 20px;
    margin-right: 5px;    
}