/* 雷达图组件对象样式 */


.h5_component_radar {
	bottom: 40%;
}

.h5_component_radar canvas{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.h5_component_radar .text{
    position: absolute;
    padding: 0 5px;
    text-align: center;
    opacity: 0;
    transition: all 0.7s 1.7s;
    -webkit-transition: all 0.5s 1.3s;
    
}
.h5_component_radar.h5_component_radar_load .text{
	opacity: 1;
}
.h5_component_radar.h5_component_radar_leave .text{
	opacity: 0;
}

